{% extends "layout.html" %}
{% block content %}
  <main>
    <h1>Contact us : </h1>
    <hr>
    <h4>Linkedin :</h4>


    <lable><strong>Lior :</strong></lable>
    <a href="https://www.linkedin.com/in/lior-shusterman-40572594" class="fa fa-linkedin"></a>
    <br>
    <lable><strong>Ran :</strong></lable>
    <a href="https://www.linkedin.com/in/ran-uzan-5a2388160" class="fa fa-linkedin"></a>


    <hr>
    <h4>E-mail :</h4>
    <h4>liorsh5@ac.sce.ac.il</h4>
    <h4>ranuz@ac.sce.ac.il</h4>
  </main>

  <aside></aside>
{% endblock %}
